NODE_ENV=development

REACT_APP_ENABLE_LOGO=1
REACT_APP_PAGE_TITLE=СОГАЗ - Телемед
REACT_APP_FAVICON=favicon.ico
REACT_APP_MANIFEST=manifest.json
REACT_APP_DEFAUL_SLOT_DURATION=60
REACT_APP_API_URL=https://back-office.telemed-testing.ru